$background-color: #F7F7F7;
$primary-color: #353535;
$accent-color: #02C98C;
$accent-color-secondary: #AD6EFB;
$text-color: $primary-color;
$text-color-light: #cccccc;
$white: #ffffff;
$transparent: rgba(0,0,0,0);

.primary-color {
  color: $primary-color;
}

.accent-color {
  color: $accent-color;
}
