$background-color: #F2F2F2;
$background-color-secondary: #EBEBEB;
$primary-color: #D17795;
$secondary-color: #DD9BB1;
$text-color: #3C3C3C;
$text-sise-sub-title: 26px;
$text-size-content: 18px;

body {
  background-color: $background-color;
}

p {
  color: $text-color;
  font-size: $text-size-content;
  font-family: 'Domine', serif;
}

ul {
  list-style-type: none;
}

h4 {
  color: $text-color;
  font-family: 'Domine', serif;
  font-size: $text-sise-sub-title;
}

code {
  table, pre {
    margin-bottom: 0;
  }
  td {
    border-bottom: 0;
    padding: 0;
  }
}

.row a {
  color: $text-color;
  font-weight: bold;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

span.primary-font {
  font-family: 'Cherry Swash', cursive;
}

.section {
  padding-top: 40px;
  padding-bottom: 0px;
  width: 100%;
  background-color: $background-color;
}

.section.secondary {
  background-color: $background-color-secondary;
}

.logo {
  margin-top: 30px;

  img {
    width: 100%;
    height: 288px;
  }
  p {
    font-size: 22px;
    text-align: center;
  }
}
