@import "_base";

$text-size-title: 22px;
$text-size-sub-title: 26px;
$text-size-content: 16px;
$button-height: 44px;
$half-button-height: 22px;

// Utils
.top-10 { margin-top: 10px; }
.top-20 { margin-top: 20px; }
.top-30 { margin-top: 30px; }
.top-50 { margin-top: 50px; }
.top-70 { margin-top: 70px; }
.top-90 { margin-top: 90px; }

.width-50 { width: 50%; }
.width-70 { width: 70%; }
.width-100 { width: 700%; }

body {
  background-color: $background-color;
  font-family: 'Roboto';
  font-weight: 400;
  color: $primary-color;
  display: none;
}

p {
  font-size: 15px;
}

.logo {
  margin-top: 30px;
  img {
    width: 100%;
    height: 216px;
  }
}

#headline {
  font-size: $text-size-title;
  text-align: center;
}

#introduction {
    text-align: center;
    width: 100%;
    margin: auto;
    @media (min-width: 550px) {
        width: 75%;
    }

    @media (min-width: 860px) {
        width: 50%;
    }
}
.code-container {

  .toggles {
    width: auto;
    padding: 0px;
    button {
      width: auto;
      height:auto;
      line-height: 20px;
      margin: 6px 0px;
      font-size: 10px;
      padding: 0px 4px;
      border-radius: 4px;
      color: #888;
      border: 1.2px solid #ccc;
      &:hover {
        border-color: $accent-color-secondary;
        color: $accent-color-secondary;
      }
      &:active {
        border-color: $accent-color-secondary;
        background-color: $accent-color-secondary;
        color: #fff;
      }
      &.active {
        border-color: $accent-color-secondary;
        background-color: $accent-color-secondary;
        color: #fff;
      }
      &:disabled {
        border-color: $transparent;
        background-color: $transparent;
        color: #999;
      }
    }
  }


  .highlight {
    display: none;
  }

  .highlight.active {
    display: block;
  }
}

.button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 13px;
  padding: 0;
  color: $primary-color;
  background-color: $white;
  height: $button-height;
  border: 2px solid $primary-color;
  border-radius: $half-button-height;
  &:hover {
    border-color: $accent-color;
    color: $accent-color;
    text-decoration: none;
  }
  &:active {
    border-color: $accent-color;
    background-color: $accent-color;
    color: #fff;
  }
  &.active {
    border-color: $accent-color;
    background-color: $accent-color;
    color: #fff;
  }

  -webkit-transition: color 0.15s, border-color 0.15s, background-color 0.15s;
  transition: color 0.15s, border-color 0.15s, background-color 0.15s;
}

.button.plain {
  background-color: $transparent;
  border: 0px;
  border-radius: 0;
  border-bottom: 0px solid $accent-color;
  padding-top: 0px;
  font-size: 16px;
  &:hover {
    color: $accent-color;
    border-bottom: 3px solid $accent-color;
  }
  &:active {
    color: $accent-color;
    border-bottom: 6px solid $accent-color;
  }

  -webkit-transition: border-bottom 0.15s, padding 0.15s;
  transition: border-bottom 0.15s, padding 0.15s;
}

div ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  h4 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  p {
    padding-top: 8px;
  }
}

.section.divider-top {
  border-top: 1px solid #cccccc;
}

.foot {
    color: $text-color-light;
    background-color: $primary-color;
    img {
      height: 20px;
    }

    a {
      color: $text-color-light;
      text-decoration: underline;
      &:hover {
        color: $accent-color;
      }
    }
}
